body {
	font-size: 100%;
	font-family: "PingFang SC", sans-serif;
	background-color: #fff;
}
header {
	width: 100%;
	height: 200px;
	line-height: 200px;
	text-align: center;
	color: #fff;
	background-color: #fff;
	border-bottom: 1px solid #212121;
}

body,header,h1 {
	margin: 0;
	padding: 0;
	border: 0;
}

.total-container {
	width: 447px;
	height: 912px;
	margin:0 auto;
}

.iphone-container {
	width: 451px;
  height: 912px;
	background-image: url("Asset/iPhone_6s.png");
  background-size: cover;
}

iframe {
	width: 375px;
	height: 667px;
	border: none;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: -783px;
	left: 2px;
	position: relative;
	background-color: #fff;
}

@media only screen and (max-width:829px) {
	.iphone-container {
		display: none;
	}
	.total-container {
		display: none;
	}
	iframe{
		position: absolute;
		width: 100%;
		height: 100%;
		left:0px;
		top:0px;
		margin:0;
		background-color: #000;
	}
}
