@charset "utf-8";

/*基础*/

html {
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
	-ms-touch-action: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	min-width: 320px;
	font-size: 62.5%;
	margin: 0;
	text-align: center;
}
div, ul, ol, li, dl, dt, dd, h1, h2, h3, h6, p, b, i, a, header, mark, sup, sub, hr, br, video, audio, blockquote, time, figure, figcaption, img, footer {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

img, p, figure, h2, h3 {
	display: block;
	overflow: hidden;
}
img {
	width: 100%;
	border: 0;
	margin: 0px;
}
p+p {
	padding-top: 16px;
}
h1, h2, h3, h6, b {
	font-weight: normal;
}

/*字体设置*/

body {
	font-family: 'PingFang SC';
	max-width: 100%;
	padding: 0px 0px 40px 0px;
	color: #575757;
	background: #fff;
	counter-reset:romancounter;
}
h1, h2, h3, blockquote {
	font-family: 'PingFang SC';
}
b {
	font-family: 'PingFang SC';
}
figcaption {
	font-family: 'PingFang SC';
}

/*两端对齐*/

p {
	text-align: justify;
	text-justify: inter-word;
}

/*左右边距*/

p, h2, h3, ul, ol, figure {
	margin: 0px 24px;
}

/*h1&h2,建议用 Javascript 把 nth-of-type 重写，把 index 转换成罗马数字*/

h1 {
	color: #212121;
  font-size: 2.0em;
  line-height: 34px;
	padding: 16px 24px 16px 24px;
  margin: 40px 24px 8px 24px;
  letter-spacing: 2px;
  font-weight: bold;
  border: 1px solid #DEDEDE;
}

h1:before {
	position: relative;
	width: 60px;
	height: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -33px;
	display: block;
	background: #fff;
	font-family: 'WHTF-Black';
	font-size: 28px;
	line-height: 32px;
	color: #FE4070;
	counter-increment:romancounter;
	content: counter(romancounter, upper-roman) ". ";
}

h2 {
	font-size: 1.6em;
	line-height: 27px;
	text-align: left;
	padding: 12px 0px 4px 0px;
	letter-spacing: 1.6px;
	color: #3E3E3E;
	font-weight: bold;
}

/*正文&首字放大*/

p {
	padding: 8px 0px;
	font-size: 1.3em;
	line-height: 24px;
	letter-spacing: 1px;
	font-weight: 400;
}


p:first-of-type {
	padding-top: 20px;
}

p:first-of-type:first-letter {
	float: left;
	color: #FE4070;
	font-size: 42px;
	line-height: 24px;
	padding-top: 11px;
	padding-right: 6px;
	font-weight: 700
}

p a {
	border-bottom: #FE4070 1px solid;
	text-decoration: none;
	color: #212121;
	font-weight: bold;
	margin-left: 8px;
	margin-right: 8px;
}

/*图片&描述*/

figure {
	padding: 22px 0px 22px 0px;
}

figure img {
	padding: 6px 0px 6px 0px;
}
figcaption {
	display: block;
	color: #818181;
	padding: 2px 16px 6px 16px;
	line-height: 21px;
	font-size: 1.1em;
	letter-spacing: 2px;
	text-align: left;
}

figcaption:last-of-type::after {
	background-color: #FE4070;
	width: 9px;
	height: 9px;
	position: absolute;
	margin-left: 2px;
	margin-top: 6px;
	content: '';
}

/*引用*/

@font-face {
  font-family: 'icomoon';
  src:  url('iconfonts/icomoon.eot?77cjbp');
  src:  url('iconfonts/icomoon.eot?77cjbp#iefix') format('embedded-opentype'),
    url('iconfonts/icomoon.ttf?77cjbp') format('truetype'),
    url('iconfonts/icomoon.woff?77cjbp') format('woff'),
    url('iconfonts/icomoon.svg?77cjbp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


blockquote {
	position: relative;
	padding: 52px 68px 91px 68px;
	letter-spacing: 3.3px;
	margin: 0px auto;
	font-size: 1.3em;
	color: #818181;
	line-height: 24px;
	display: block;
}
blockquote:before {
	content: '';
	width: 36px;
	height: 1px;
	position: absolute;
	margin: 0px;
	background-color: #BDBDBD;
}
blockquote:after {
	content: "\e900";
	font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	text-indent: 5px;
  font-size: 13px;
	color: #FE4070;
	font-weight: bolder;
	width: 36px;
	height: 34px;
	position: absolute;
	margin: 0px;
	border-bottom: 1px solid #BDBDBD;
}
blockquote:before {
	left: 50%;
	margin-left: -18px;
  top: 28px;
}
blockquote:after {
	left: 50%;
	margin-left: -18px;
	bottom: 33px;
}

/*无序有序列表*/

ol, ul {
	text-align: left;
	line-height: 24px;
  font-size: 1.3em;
  letter-spacing: 1.38px;
	position: relative;
	list-style-type: none;
}
ul li:before {
	background: #FE4070;
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 8px;
	overflow: hidden;
	position: absolute;
	left: 15px;
	margin-top: 8px;
}
ul li, ol li {
	padding: 8px 0px;
}
ul {
	padding: 12px 12px 12px 38px;
}
ol {
	counter-reset: sectioncounter;
	padding: 12px 12px 12px 38px;
}
ol li:before {
	content: counter(sectioncounter) ".";
	counter-increment: sectioncounter;
	color: #FE4070;
	position: absolute;
}

li:before{
  left: 12px;
  font-size: 14px;
	margin-top: -2px;
  font-style: italic;
  font-family: 'WHTF-BlackItalic';
}

/*分割线*/

hr {
	height: 1px;
	overflow: hidden;
	border: none;
	background: #DADADA;
	margin: 40px 24px;
}

/*Audio & Video*/

.audio-container {
	border: 0;
	margin: 0px;
	display: block;
	overflow: hidden;
	padding: 20px 0 20px 0;
  margin: 0 24px 0 24px;
}

.video-container {
	border: 0;
	margin: 0px;
	display: block;
	overflow: hidden;
	padding: 20px 0 20px 0;
	margin: 0 24px 0 24px;
}

/*作者信息，可用 address 替换*/
.user-container{
	margin: 0px 24px;
	border:1px solid #DEDEDE;
	border-radius: 2px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.fin-container {
	height: 1px;
	border: none;
	background: #DADADA;
	margin: 40px 24px;
}

.fin-container:before {
	z-index: 100;
	position: relative;;
	width: 93px;
	height: 32px;
	top: -16px;
	margin-left: -46px;
	display: block;
	background: #fff;
	font-family: 'WHTF-SemiBoldItalic';
	font-size: 32px;
	line-height: 32px;
	letter-spacing: 4px;
	color: #FE4070;
	content: 'FIN';
	left: 50%;
}

.user-avatar {
	width:64px;
	height: 64px;
	overflow: hidden;
	border-radius: 100%;
	margin: 32px auto 0 auto;
}

.user-name {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 3.11px;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 12px;
	color: #212121;
}

.user-desc {
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 1px;
	margin-bottom: 19px;
	margin-left: 16px;
	margin-right: 16px;
	color: #818181;
}
.add-btn {
	background-color: #FE4070;
  color: #fff;
	cursor: pointer;
	outline:none;
  border: 0;
  margin-bottom: 32px;
  font-size: 13px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 2.17px;
  border-radius: 50px;
  padding: 7px 28px 7px 30px;
}
/*字体*/
@font-face {
    font-family: 'WHTF-Black';
    src: url("asset/WhitneyHTF-Black.otf");
}
@font-face {
    font-family: 'WHTF-BlackItalic';
    src: url("asset/WhitneyHTF-BlackItalic.otf");
}
@font-face {
    font-family: 'WHTF-SemiBoldItalic';
    src: url("asset/WhitneyHTF-SemiBoldItalic.otf");
}
