@import url('flex.css');

.path {
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  animation-fill-mode: both;
  animation: dash 0.8s linear;
  animation-direction: alternate-reverse;
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 200;
  }
}

#navTop a:hover{
	cursor: pointer;
}

a:hover .logo .logo-canvas .path{
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation-fill-mode: both;
  animation: dash-reverse 0.8s linear;
  animation-direction: alternate-reverse;

}

a:hover .logo .logo-canvas .path{
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  animation-fill-mode: both;
  animation: dash-reverse 0.8s linear;
  animation-direction: alternate-reverse;

}

@keyframes dash-reverse {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 200;
  }
}

body #navTop {
	position: fixed;
	height: 66px;
	padding-top: 2px;
}
#navTop {
	box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08);
	position: fixed;
	background-color: rgba(255,255,255,.98);
	-webkit-backdrop-filter: blur(20px);
	z-index: 9999;
	padding: 0px 0px 0px 24px;
	position: absolute;
	top: 0;
	width: 100%;
	transition:all 0.5s;
}


.scrolled-nav {
	transform: translate(40px,30px);
    box-shadow: 0 10px 20px rgba(0,0,0,.15) !important;
	width: 66px !important;
	border-radius: 66px;
}


.scrolled-logo {
    transform:scale(1.2) translateX(-49px) translateY(-2px) !important;
}


.logo-canvas{
	transform: scale(0.8);
	margin-top: 13px;
}


.logo-colorful{
	position: absolute;
	width: 28px;
	opacity:0;
	transform: translate(8px,-50px);
}


.scrolled-color{
	opacity: 1.0;
    transform: translate(7.5px,-50px);
}


.logo-span{

	font-weight: 300;
	color: black;
	transition:all 0.2s;
	width: 100px;
	position: absolute;
	transform: translateX(40px) translateY(-52px);

}
.scrolled-span{
	opacity:0;

}


#navTop div.item, #navTop div.logo {
	line-height: 62px;
	display: inline-block;
	vertical-align: top;
}

#navTop div.logo {
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: left center;
	color: #90949C;
	float: left;
	padding: 0 0 0 0px;
	margin-left:42px;
	font-weight: 200;
	font-size: 18px;
	transition:all 0.5s;
    
}
#navTop div.logo:hover {
	opacity: .7;
}
.nav-isNotVisIfMobile{
	display: inline-block;
}

.nav-isVisIfMobile{
	display: none;
}

#navTop div.item {
	font-weight: 500;
	font-size: 11px;
	text-transform: uppercase;
	margin: 0px 32px 0 0;
	color:#90949C;
	-webkit-user-select: none;
}
#navTop div.item a {
	font-weight: inherit;
	display: block;
}

#navTop div.item a:hover {
	opacity: .7;
}
#navTop div.item.current {
	color: #4B4F56;
	box-shadow: 0px 2px #4080FF;
}

#navTop div.item.current:hover {
	opacity: 1;
}

.logo {
    display: inline-block;
    background-color: transparent;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #90949C;

}

.logo a {
    text-decoration: none;
    color: #90949C;
}

.logo span {
    vertical-align: super;
    line-height: 24px
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing: antialiased;
}
.screen{
    top: 9.79828% !important; 
    height: 78.46379% !important;
}
 
.paper{
	font-size: 14px;
}

html {
    overflow: hidden;
}
 
a {
	cursor: default;
}

body {
	font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.28;
}

#wrapper {
	position: fixed;
	top: 0;
	right:0;
	bottom: 0;
	left: 0;
}

#topLeft {
	padding-top: 30px;
	padding-left: 30px;
	z-index: 1;
	position: relative;
	cursor: default;
}

#topLeft p.title {
	color: #b7b7b7;
}

#topLeft .name{
	font-family: 'DIN-Light';
	font-size:12px;
	text-align: center;
	line-height: 22px;
}

#social li {
	display: inline-block;
	padding-top: 12px;
	opacity: 0.12;
	-webkit-transition: opacity 0.25s ease-out;
	-moz-transition: opacity 0.25s ease-out;
}

#social li:hover {
	opacity: 1;
}

.particlecanvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.download-button{

    cursor: pointer;
	position: absolute;
    z-index: 4;
    top: 2.5%;
    right: 5%;
    height: 52px;
    width: 52px;
    opacity: 1;
    border-radius: 50%;
    background-color: rgba(37, 46, 54, 1);
    box-shadow: rgba(37, 46, 54, 0.2) 0px 2px 2px, rgba(37, 46, 54, 0.18) 0px 4px 4px, rgba(37, 46, 54, 0.16) 0px 8px 8px, rgba(37, 46, 54, 0.12) 0px 16px 16px, rgba(37, 46, 54, 0.08) 0px 32px 32px, rgba(37, 46, 54, 0.04) 0px 64px 64px;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
}

.dl-icon{
	display: inline-block;
    position: absolute;
    background-color: #ffffff;
    border-radius: 2px;
    width: 18px;
    height: 2px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    transform: translateY(-50%) translateX(-50%) rotate(-90deg);
}

.button-click{
    -webkit-transform: scale(0.72);
    -moz-transform: scale(0.72);
    -ms-transform: scale(0.72);
    -o-transform: scale(0.72);
    transform: scale(0.72);
}

.button-moving{
	opacity: 0.3;
}

.dl-icon::before{
	content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    -moz-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    -ms-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    -o-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);

}

.dl-icon::after{
	content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
    border-radius: 2px;
	-webkit-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    -moz-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    -ms-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    -o-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);	

}

.email {
	padding-left: 5px;
}

#slides li {
	display: inline-block;
	background-size: contain;
	position: fixed;
	background-position: center;
	background-repeat: no-repeat;
	top: 66px; right: 0; bottom: 50px; left: 0;
	
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

#slides li .glslCanvas{
    padding: 0;
    margin: auto;
    display: block;
    width: 540px;
    height: 960px;
    transform:scaleX(0.77) scaleY(0.78125);
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 6px;
    right: 0;
}


#slides li:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#slides li.shadertemplate {
	background-image: url("../asset/slide-black.png");
}

#slides .year {
    font-size: 20px;
    line-height: 36px;
}

#slides .month {
	font-size: 14px;
	line-height: 20px;
}

#slides .icon{
    z-index: 100;
    cursor: pointer;
    height: 128px;
    width: 128px;
    background-size: contain !important;
    display: block;
    top: -160px; /*-120*/
    margin: 0;
    padding: 0;
    margin-left: 0px;  /*-12*/
    position: absolute;
    box-shadow: rgba(40,20,16,0.15) 0px 0px 10px, rgba(40, 20, 16, 0.2) 0px 2px 2px, rgba(40, 20, 16, 0.2) 0px 4px 4px, rgba(40, 20, 16, 0.2) 0px 8px 8px, rgba(40, 20, 16, 0.2) 0px 16px 16px, rgba(40, 20, 16, 0.2) 0px 32px 32px, rgba(40, 20, 16, 0.2) 0px 64px 64px;

}

.caption {
	color: #b7b7b7;
	font-family: 'DIN-Regular','HelveticaNeue-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: absolute; 
	bottom: 0;
	pointer-events: none;
	padding-left: 48px;
	visibility: hidden; /*Made visible in JS once layout has been calculated*/
}


.year {
	color: black;
}

.fade {
	position: fixed;
	bottom: 0px;
	height: 58px;
	width: 150px;
	pointer-events:none;
}

#rightFade {
	right: 0; 
	background-image: -moz-linear-gradient( 180deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-linear-gradient( 180deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient( 180deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
}

#leftFade {
	left: 0;
	background-image: -moz-linear-gradient( 0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient( 0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
}

#nav {
	text-align: center;
	position: absolute;
	bottom: 34px;
	left: 50%;
	white-space: nowrap;
}

#nav li {
	display: inline-block;
	padding: 0 18px;
	cursor: default;
}

/*iPhone*/
@media only screen and (max-device-width: 628px) {


	#slides li {
		transform: translate3d(0px, -30px, 0px) scale(0.9) !important;
	}

	#navTop div.nav-isVisIfMobile{
		display: inline-block;
	    float: left;
	    position: fixed;
	    left: 59px;
	}
	#navTop .nav-isNotVisIfMobile{
		display: none;
	}

	.scrolled-nav {
		transform: translate(0px,0px);
		box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08) !important;
		width:100% !important;
		border-radius: 0px;
	}

	body {
		font-size: 19px;
	}
	
	#nav {
		bottom: 20px;
	}
	
	#nav li {
		padding: 0 15px;
	}
	
	.fade {
		width: 40px;
	}
	
	#social li:hover {
		opacity: 0.12;
	}
	
	#topLeft {
		padding-top: 16px;
		padding-left: 18px;
	}
	
	#slides li {
		top: 60px; right: 0; bottom: 40px; left: 0;
	}
	
	#social {
		position: absolute;
		top: 6px; right: 18px;
	}
	
	#slides p {
		font-size: 7px;
	}
	
	.caption {
		padding-left: 8px;
	}
	
	#slides li.origami p.other {
		display: none;
	}
	
	#slides li.origami p.iphone {
		display: block;
	} 
	
	#slides li.logo p.other {
		display: none;
	}
	
	#slides li.logo p.iphone {
		display: block;
	}
	
	#slides li.capo {
		background-image: url("slide-capo-iphone.jpg");
	}
	
	#slides li.billings {
		background-image: url("slide-billings-iphone.jpg");
	}
	
	#slides li.logo {
		background-image: url("slide-logo-iphone.png");
	}
	
	#slides li.origami {
		background-image: url("slide-origami-iphone.jpg");
	}
}

/*Landscape iPhone*/
@media only screen and (max-device-width: 628px) and (orientation : landscape) { 
	.fade {
		width: 70px;
	}
}

/*iPhone and iPad*/
@media (max-device-width : 1024px) {
	.email {
		padding-left: 12px;
	}
	
	body {
		overflow: hidden;
	}
}

/*iPad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 
	body {
		font-size: 24px;
	}
}

/*Portrait iPad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	#slides li {
		top: 80px; right: 0; bottom: 60px; left: 0;
	}
}

/*Hi-res Displays*/
@media (-webkit-min-device-pixel-ratio: 1.2), (min-resolution: 144dpi) {
	#twitter {
		content: url("social-twitter-2x.png");
	}
	
    #email {
    	content: url("social-email-2x.png");
    }
}

.cf:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .cf {
	display: block;
}

* html .cf {
	height: 1%;
}
