
/* Homepage
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.home-container{
	max-width:1185px;
	margin: 0 auto;
	min-height: 80vh;
}

.h1--home-title {
	margin-bottom: 0px;
    /* font-family: 'PingFang'; */
    font-weight: 400;
    font-size: 24px;
}

.container h3{
	font-size: 14px;
    margin-bottom: 24px;
    font-weight: 400;
    color: #90949C;
}

h1 {
	margin: 60px 0 16px 0;
}

@media only screen and (max-width: 890px) {
	.card-list-wrapper li{
		width: 100%;
		text-align: center;
	}
	.card-list-wrapper li a{
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 1225px) {
	.home-container {
		max-width: 790px;
	}
}
@media only screen and (max-width: 790px) {
	.home-container {
		max-width: 395px;
	}
	.h1--home-title {
		font-size:42px;
	}
}

@media only screen and (max-width: 500px) {
	.home-container {
		max-width: 320px;
	}
	.container--header {
		    margin: 60px auto 40px auto;
	}
}
@media screen and (max-height: 700px) and (min-width: 1225px) {

}


