.image-shadow:after {
  -webkit-transform: scale(0.85) translateY(36px) translateZ(-30px);
          transform: scale(0.85) translateY(36px) translateZ(-30px);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 0.9;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  z-index: -1;
  -webkit-transition: -webkit-filter .3s ease;
  transition: -webkit-filter .3s ease;
  transition: filter .3s ease;
  transition: filter .3s ease, -webkit-filter .3s ease;
}

.image-shadow {
  margin: 20px 20px 36px 20px;
  width: 355px;
  height: 296px;
  border-radius: 10px;
  display: block;
  position: relative;
  background-size: cover;
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
}

/*.light {
  background: -webkit-radial-gradient(center ellipse, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 60%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 60%);
  width: 600px;
  height: 600px;
  background-blend-mode: lighten;
  position: fixed;
  pointer-events: none;
}*/

/*h1 {
  max-width: 400px;
  width: 100%;
  font-size: 24px;
  text-align: center;
  margin: 50px auto 30px;
}
h1 span {
  font-size: 16px;
  color: #666;
  font-weight: 400;
}
*/
.js-tilt-container {
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
  -webkit-transform: rotateX(0) rotateY(0);
          transform: rotateX(0) rotateY(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}


.clickAnimation{
  transform:translateY(-50px);
}

.leave {
  -webkit-transform: rotateX(0) rotateY(0) !important;
          transform: rotateX(0) rotateY(0) !important;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1) !important;
          transition-timing-function: cubic-bezier(0.42, 0, 0, 1) !important;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}
