@-webkit-keyframes animateSsplashStr {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  20% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  30% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes animateSsplashStr {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  20% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  30% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

.p-canvas-webgl {

  transform: translateY(-65px);
  z-index: 1;
  top: 0;
  left: 0; }

.p-dummy-scroll {
  position: relative;
  z-index: 1; }
