@charset "UTF-8";

* {
    opacity: 1;
    -webkit-transition: opacity 0.2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.2s;
}
a {
    color: #000;
}
a:hover {
    text-decoration: none;
    border-bottom: 2px solid #000;
    color: #000;
}
.navbar a:hover, .overlay:hover, .picLink:hover {
   border-bottom: none;
}
.picLink:hover > .short_desc {
    opacity: 0.5;
}
#footer a:hover {
    opacity: 0.6;
}
a:hover svg {
    transform: scale(0.93, 0.93);
}
p {
    line-height: 160%;
    font-size: 12px;
    color: #acacac;
}

html {
    height: 100%;
}
body {
    height: 100%;
}
video {
    max-width: 100%;
    width: 100% !important;
    max-height: 100%;
    text-decoration: none;
    border: none;
}

.col-md-4 video{
    min-height: 340px;
}
.col-md-6 video{
    min-height: 535px;
}

@media (min-width: 992px){
    .container {
    padding: 100px 25px;
    }
}

  @media (max-width: 992px){
      .iPhoneVideo {
          max-height: initial;
          padding: 20px;
      }
  .container {
    padding: 40px 25px 40px;
  }
  .centerTextBox {
    margin-top:30px !important;
}
#frontpage .container {
    padding: 40px 25px 20px !important;
  }
  }
   
 #pageHeader.container {
    padding: 40px 25px 40px !important;
}

.pageHeader .container{
    padding: 40px 25px 40px !important;
}

.pageHeader h2{
    margin-bottom: 0px;
}

@media (min-width: 2000px){
    
    .container {
        width: 1300px;
    }
}
.row {
    margin-right: -25px;
    margin-left: -25px;
}

@media (max-width: 768px) {
    .textBox h2 {
        text-align: center;
    }
}
.centerTextBox {
    text-align: left;
    display: inline-block;
    margin-top:50px;
}


h2 {
    font-family: "Baskerville";
    margin: 0px 0px 50px 0px;
    letter-spacing: -0.5px;
}

.article-section h2{
    font-family: "PingFang SC";
    font-weight: bold;
}
h3 {
    font-size: 24px; 
    color: #ffcc2f;
    margin: 0px 0px 40px 0px;

    font-family: "Songti SC";
    font-weight: 800;
}


@media screen and (max-width: 1200px) and (min-width: 992px) {

    .speical-canvas{
        width: 920px;
        height:518px;
        top: 0px;
        bottom: 48px;
        left: 25px;
        position: absolute;
    }

    .image-canvas{
        width: 435px;
        height:245px;
        top: 0px;
        bottom: 48px;
        left: 25px;
        position: absolute;
    }
}

@media (min-width: 1200px) {

    .speical-canvas{
        width: 1120px;
        height:630px;
        top: 0px;
        bottom: 48px;
        left: 25px;
        position: absolute;
    }

    .image-canvas{
        width: 535px;
        height:301px;
        top: 0px;
        bottom: 48px;
        left: 25px;
        position: absolute;
    }
}


@media (max-width: 992px) {

    .speical-canvas{
        width: calc(100% - 50px);
        top: 0px;
        bottom: 41px;
        left: 25px;
        position: absolute;
    }

    .image-canvas{
        width: calc(100% - 50px);
        top: 0px;
        bottom: 41px;
        left: 25px;
        position: absolute;
    }
}



/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 100000;
    /* makes sure it stays on top */
  }
  
  #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url('../images/preloader.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
  }


.mb-3 {
    margin-bottom: 24px;
}

.mt-1 {
    margin-top: 8px;
}
.hr-title {
    width: 64px;
    border: 0;
    border-bottom: 4px solid rgba(51,51,51,0.16);
    padding: 0;
    display: block;
}

.client h3 {
    color:#6d6d6d;
}
.client svg {
    fill:#ff634a;
    opacity: 0.3;
}
.videoGrid h4 {
    font-size: 14px;
    margin: 0px 10px 40px 0px;
    padding: 30px 30px;
    width: 100%;
    text-align: center;
    color: #754523;
}

.experimentsContainer h3 {
    color: #565656;
}
.personalProjects h3 {
    border-color: #565656;
    color: #6d6d6d;
}
.personalProjects svg {
    fill:#6d6d6d;
    opacity: 0.3;
}
svg {
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -webkit-transition: transform 0.1s;
    transition: transform 0.1s;
}
.client a:hover svg, .personalProjects a:hover svg {
    opacity: 1.0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
svg {
    fill: rgba(255, 255, 255, 0);
}
h4 {
    font-family: "PingFang SC";
    font-size: 14px;
    display:inline-block;
    margin: 20px 10px 0px 0px;
}
@media (max-width: 992px){
    h4 {
        margin-top: 0px;
    }
    .cellLine, hr {
       
        margin-bottom: 30px;
    
    }
}
.personalProjects h4 {
    color:rgba(45, 207, 109);
}

.experimentsContainer h4 {
    color: rgba(19, 135, 224,1.0);
}

.col-md-12, .col-md-6, .col-md-4 {
    padding-left:25px;
    padding-right:25px;
    margin-bottom: 25px;
}

.lazyLoad{
    opacity: 0;
    -webkit-transition: opacity 0.5s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.5s;
}

iframe img{
    width: 100%;
    height: 100%;
}

.overlay {
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    left:0; 
    background-color:rgba(0, 0, 0, 0.65);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    color:white;
    opacity: 0.3; 
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    cursor: pointer;  
}
.light {
    opacity: 0.0; 
} 
.light:hover {
    opacity: 0.0;
}
.overlay:hover {
    opacity: .6;
}

.dualBox16x9 {
    position: relative;
    padding-bottom: 56.25%;
}
.dualBox16x9 iFrame {
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
}
.box16x9, .box16x9SD {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
}
@media (max-width: 992px) {
.box16x9SD {
    padding-bottom: 36.25%;
    }
    
}
@media (min-width: 992px) {
    .box16x9Big {
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
    }
    .verticalCenterBig {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }

}

.hover {
     position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.spinner {
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.squareContainer {
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.1) */
    background-color: rgba(25, 175, 255, 0.5);
}


.squareContainer iframe, .videoImageStandin > img:first-child, .standin, .imagePreview {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.client h4 {
    
    color: rgba(239,32,32,1.0);
}

.short_desc {
    display:inline-block;
    margin: 10px 0px;
    color: #b1b1b1;
    font-size: 14px;
}

.personalProjects span.short_desc {
    color: #bbb;
}

hr {
    margin-top: 0px; 
    margin-bottom: 0px; 
}
.underline, .underlineLight {
    
    margin-bottom: 15px;
    display: inline-block;
}
.underline h4, .underlineLight h4 {
    margin:20px 0px 0px 0px;
}

.width100 {
    width: 100%;
}

.hoverRight {
    float:right;
}
.hoverRight {
    float:left;
}
.centerContent {
    text-align: center;
    /* padding: 0px; */
}
.clear {
    clear:both;
}

.personalProjects hr.cellLine {
    border-color: #b9b9b9;
}

.imageContainer {
    overflow: hidden;
    min-height: 200px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.imageContainer img{
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
}

.iframe_container a {
    color: #337ab7;
}

.iframe_container a:hover {
    text-decoration: none;
    border-bottom: 2px solid #337ab7;
    color: #337ab7;
}

.iframe_container iframe{
    min-height: 600px;
}

.navbar-header {
    float:left;
}

@media (min-width: 992px) {
    .navbar {
        padding: 35px 50px 0px 50px !important;
    }
}
@media (max-width: 992px){
   .navbar {
    background-color: #000 !important;
    }

}
.navbar {
    padding: 10px 30px 10px 30px;
}
.navbar-default {
    background-color:initial;
    border:none;
}

.navbar-brand {
    width:70px;
    height: 50px;
    padding:0;
}

@media (max-width: 992px) {
    .navbar-brand {
        width:50px;
        background-color: rgba(0, 0, 0, 0.0);
        height: 30px;
        padding-top: 3px;
    }
    
}
.navbar-nav>li {
    float: left;
}
.nav>li svg {
    height: 20px;
}
.navbar-right {
    margin: -7px -15px;
    float: right!important;
}
 #navBarBack {
height: 130px;
    width: 100%;
 }

.article-container p{
    color:#6a6a6a;
}


#cover{
    width: 100%;
    height: 520px;
    max-height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#cover video {
    max-width: initial;
    background-size: cover;
    position: absolute;
    border: none !important;
    max-height: initial;
    min-width: 100%;
    min-height: 100%;
    width: auto !important;
    height: auto;
    /* max-height: 150%; */
    /* max-width: 150%; */
    top: 50%;
    margin: 0;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
@media (max-width: 992px) {

 #cover {
    margin-top: 65px;
    font-size: 0px;
    height: auto;
    padding: 0px;
 }
     #cover video {
    position: relative;
    min-height: initial;
    max-width: 100%;
    -ms-transform: translate(-0%,-0%);
    -webkit-transform: translate(-0%,-0%);
    left: inherit;
    transform: translate(-0%,-0%);
 }
 }

.previewImage {
    width:100%;
}

.moreLink {
    float:right;
    width:15px;
    height:20px;
    position:relative;
    margin-top:19px;
}
@media (max-width: 992px) {
     #navBarBack {
    height: 60px;
    background-color: rgba(0, 0, 0,0) !important;
 }
   .short_desc {
       margin-top:10px;
   }
   .moreLink {
       margin-top:13px;
   }
   
.cellLine {
    border-color: transparent !important; 
}
}

.cover-heading h2 {
    text-align: center;
}

.highlightedContainer {
    box-sizing: content-box;
}

.experimentsContainer {
    padding: 50px 0px 50px 0px;
    box-sizing: content-box;
}
.videoGrid .container {
    
    padding-bottom: 0px;
}

/*Common Elements*/
@media (min-width: 992px) {
   .divMobile {
       display:none;
   }
}

.divMobile {
       height: 50px;
   }

.smallLaurels {
    position: absolute;
    left: 50%;
    bottom: 0px;
    width:75px;
    height:auto;
      transform:translate(-50%, 0%);
}
@media (max-width: 992px) {
    .experimentsContainer {
    padding: 0px 0px 50px 0px;
}
   .desktopOnly {
       display:none;
   }
}

@media (min-width: 992px) {
    .mobileOnly {
       display:none;
   }
    .linkIcon {
        width:35px;
        height:15px;
    }
    
}
.linkIcon {
    position: absolute;
    left: 25px;
    bottom: 25px;
    width:17px;
    height:17px;
}
.wideLink {
    padding:50px;
    text-align: center;
}
.bigLinkBox {
    min-height: 100px;
    position: relative;
}

.bigLinkBox .linkText {
    
    font-family: "Baskerville";
    font-size: 25px;
    display:inline-block;
}

#footer {
    color: #fff;
    background-color: #000;
    position: relative;
    min-height: 180px;
}
#footer .noneHighlight, #footer li, #footerInfoRight a {
    color: #5d5d5d;
}
#footerLogo {
    width:60px;
    height: 100px;
    position: absolute;
    top: 90px;
    left:100px;
    transform: translate(0, -50%);
}
#footerLogo svg {
    fill: #ec4a4a;
    width:100%;
    height:100%;
}

#footerInfo {
    font-size: 12px;
    padding: 20px 50px;
    max-width: 300px;
    position: absolute;
    border-left:2px solid #222;
    left:200px;
    top:50px;
}
#footerInfoRight {
    font-size: 12px;
    padding: 20px 0px 20px 0px;
    position: absolute;
    top:90px;
    right:100px;
    transform: translate(0, -50%);
}
@media (max-width: 992px) {
    #footer {
        background-color: #000 !important;
    }
    #footerLogo {
        top: 90px;
        left:30px;
    }
    #footerInfo {
        left:initial;
        left:120px;
        padding: 20px 0px 20px 30px;
        z-index: 1;
    }
    #footerInfoRight {
    font-size: 10px;
    position: relative;
    width: 100%;
    text-align: left;
    
    padding: 180px 0px 0px 0px;
    top: inherit;
    transform: initial;
    right: initial;
}
#footer ul {
    padding:30px 0px 30px;
    background-color:#1b1b1b;
}

#footer ul li{
    float: none;
    margin-left: 0px !important;
    margin-right: 20px;
}

}
#footer p {
    margin-top:4px;
}
#footer ul {
    list-style: none;
    width: 100%;
    margin: auto;
    text-align: center;
}
#footer ul li{
    display: inline-block;
    margin-left: 20px;
}
#footerInfo a {
    color: #fff;
}


@media (max-width: 992px) { 
    h2 {
        margin-bottom: 25px;
    }
}

@media (min-width: 992px) { 
    
    .bigContainer {
     padding-top: 120px;
     padding-bottom: 120px;
    }
    .mediumContainer {
        padding-top: 70px;
     padding-bottom: 70px;
    }
}


.black_container h4{
    color: white;
}

@media (min-width: 992px) {
    #pageHeader h2 {
    margin-bottom: 0px;
}

    .height600 {
        height: 600px;
    }
    .verticalCenterBig {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        padding: 0px 50px 0px 50px !important;
        margin: 0px 0px 0px 0px !important;
    }
}

.verticalCenterBig {
    padding: 00px 0px 0px 0px;
}
 .verticalCenter {
     
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
}
.divider {
    margin-top:10px;
}



#impressum li {
    color: #acacac;
    font-size: 12px;
}

.article-container {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 120px;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 100;
    overflow: scroll;
    animation: articleOpenAnim 1s linear;
}

.article-section::after {
    content: ' ';
    display: block;
    clear: both;
}

@keyframes articleOpenAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}