/*
    HTML5 Reset :: style.css
    ----------------------------------------------------------
    We have learned much from/been inspired by/taken code where offered from:
    Eric Meyer                  :: http://meyerweb.com
    HTML5 Doctor                :: http://html5doctor.com
    and the HTML5 Boilerplate   :: http://html5boilerplate.com
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}
article, aside, figure, footer, header, nav, section, details, summary {
    display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects */

/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img, object, embed {
    max-width: 100%;
}
.portrait {
    margin-top: 86px;
    z-index: -20;
}
.portrait img {

    vertical-align: bottom;
}
.hand {
    margin-top: 86px;
    margin-right: 250px;
}

.macbook {
  margin-top: 86px;
}

.blogtitle{
  margin-top: -40px;
  text-align: center;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
    In fact, it *will* cause problems with Google Maps' controls at small size.
    If this is the case for you, try uncommenting the following:
#map img {
        max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */
html {
    overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
    you'll have to restore the bullets within content,
    which is fine because they're probably customized anyway */
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    font-weight: bold;
    vertical-align: bottom;
}
td {
    font-weight: normal;
    vertical-align: top;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input, select {
    vertical-align: middle;
}
pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}
input[type="radio"] {
    vertical-align: text-bottom;
}
input[type="checkbox"] {
    vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
    vertical-align: baseline;
}
.ie6 input {
    vertical-align: text-bottom;
}
select, input, textarea {
    font: 99% sans-serif;
}
table {
    font-size: inherit;
    font: 100%;
}
small {
    font-size: 85%;
}
strong {
    font-weight: bold;
}
td, td img {
    vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable, label, input[type=button], input[type=submit], input[type=file], button {
    cursor: pointer;
}

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
textarea, input { outline: none; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
    margin: 0;
}

/* make buttons play nice in IE */
button, input[type=button] {
    width: auto;
    overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
    -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {
    font-family: "Lato", "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    color: #444;
    background: #FBFBFB;
}
@font-face {
    font-family: 'Lato';
    src: url('http://7xqdw6.com1.z0.glb.clouddn.com/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('http://7xqdw6.com1.z0.glb.clouddn.com/Lato-Bold.ttf');
}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {
    color: #333;
}
a {
    color: #03f;
    text-decoration: none;
}
a:hover {
    color: #69f;
}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
    background: #fcd700;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #fcd700;
    color: #fff;
    text-shadow: none;
}

/*  j.mp/webkit-tap-highlight-color */
a:link {
    -webkit-tap-highlight-color: rgba(68, 68, 68, 0.3);
}
ins {
    background-color: #fcd700;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #fcd700;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
button{
  outline: none;
}
/* Mozilla dosen't style placeholders by default */
input:-moz-placeholder {
    color: #a9a9a9;
}
textarea:-moz-placeholder {
    color: #a9a9a9;
}
.container {
    width: 960px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}
header {
    padding-top: 73px;
    margin-right: -15px;
    margin-left: -15px;
}
.logo {
    float: left;
    width:54px;
    height:42px;
    background-size:contain;
}
.nav-list {
    float: right;
    margin-top: 9px;
}
.nav-list  li {
    float: left;
    margin-left: 35px;
}
.nav-list  li.active a {
    color: rgba(68, 68, 68, 1);
}
.nav-list  li a {
    color: rgba(68, 68, 68, 0.5);
    font-size: 20px;
}
.nav-list  li a:hover {
    color: rgba(68, 68, 68, 1);
}
.nav-list li a.tagselected {
    color: rgba(68, 68, 68, 1);
}

.martin-md-1, .martin-md-2, .martin-md-3, .martin-md-4, .martin-md-5, .martin-md-6, .martin-md-7, .martin-md-8, .martin-md-9, .martin-md-10, .martin-md-11, .martin-md-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
}
.martin-md-1 {
    width: 60px;
}
.martin-md-2 {
    width: 140px;
}
.martin-md-3 {
    width: 220px;
}
.martin-md-4 {
    width: 320px;
}
.martin-md-5 {
    width: 380px;
}
.martin-md-6 {
    width: 460px;
}
.martin-md-7 {
    width: 540px;
}
.martin-md-8 {
    width: 620px;
}
.martin-md-9 {
    width: 700px;
}
.martin-md-10 {
    width: 780px;
}

.martin-md-11 {
    width: 860px;
}
.martin-md-12 {
    width: 960px;
}
.martin-md-offset-1 {
    margin-left: 60px;
}
.martin-md-offset-2 {
    margin-left: 140px;
}
.martin-md-offset-3 {
    margin-left: 220px;
}
.martin-md-offset-4 {
    margin-left: 300px;
}
.martin-md-offset-5 {
    margin-left: 380px;
}
.martin-md-offset-6 {
    margin-left: 460px;
}
.martin-md-offset-7 {
    margin-left: 540px;
}
.martin-md-offset-8 {
    margin-left: 620px;
}
.martin-md-offset-9 {
    margin-left: 700px;
}
.martin-md-offset-10 {
    margin-left: 780px;
}
.martin-md-offset-11 {
    margin-left: 860px;
}
.martin-md-offset-12 {
    margin-left: 960px;
}
.center {
    text-align: center;
}
[layout] {
    display: flex;
}
[flex] {
    flex: 1;
}
[layout-wrap] {
    flex-wrap: wrap;
}
[layout="row"] {
    flex-direction: row;
}
[layout-wrap] {
    flex-wrap: wrap;
}
[layout="column"] {
    flex-direction: column;
}
[layout-align="start start"], [layout-align="start center"], [layout-align="start end"] {
    justify-content: flex-start;
}
[layout-align="center start"], [layout-align="center center"], [layout-align="center end"] {
    justify-content: center;
}
[layout-align="end start"], [layout-align="end center"], [layout-align="end end"] {
    justify-content: flex-end;
}
[layout-align="space-between start"], [layout-align="space-between center"], [layout-align="space-between end"] {
    justify-content: space-between;
}
[layout-align="space-around start"], [layout-align="space-around center"], [layout-align="space-around end"] {
    justify-content: space-around;
}
[layout-align="start start"], [layout-align="center start"], [layout-align="end start"], [layout-align="space-between start"], [layout-align="space-around start"] {
    align-items: flex-start;
}
[layout-align="start center"], [layout-align="center center"], [layout-align="end center"], [layout-align="space-between center"], [layout-align="space-around center"] {
    align-items: center;
}
[layout-align="start end"], [layout-align="center end"], [layout-align="end end"], [layout-align="space-between end"], [layout-align="space-around end"] {
    align-items: flex-end;
}
.info-section {
  height:900px;
}
.info-section  p {
    font-size: 36px;
    margin-top: 86px;
    color: #444444;
    line-height: 1.5em;
    width: 560px;
}
.godown {
    background: url('http://7xqdw6.com1.z0.glb.clouddn.com/GoDown.png');
    width: 39px;
    height: 21px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    font-weight: 200;
    background-size:contain;

    /* 本身的一半
    -------------------------------------------------------------------------------*/
    transform: translate3d(-50%, 0, 0);
}
.row {
    margin-right: -20px;
    margin-left: -20px;
}
.icon-pen {
    display: inline-block;
    background: url('http://7xqdw6.com1.z0.glb.clouddn.com/tinyicon1.png');
    width: 33px;
    height: 46px;
    background-size: contain;
}
.icon-terminal {
    display: inline-block;
    background: url('http://7xqdw6.com1.z0.glb.clouddn.com/tinyicon2.png');
    width: 40px;
    height: 40px;
    background-size: contain;
}
.icon-notebook {
    display: inline-block;
    background: url('http://7xqdw6.com1.z0.glb.clouddn.com/tinyicon3.png');
    width: 24px;
    height: 37px;
    background-size: contain;
}

.icon-chart {
    display: inline-block;
    background: url('http://7xqdw6.com1.z0.glb.clouddn.com/tinyicon42.png');
    margin-top: 3px;
    margin-left: 5px;
    width: 61px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}
/*
.iframe-preview {
  margin-top: -68px;
  margin-bottom: -24px;
  width: 125%;
  height: 680px;
  background-color: #242B3A;
  background-size: contain;
  transform: scale(0.8);
  box-shadow: 0px 1px 20px 1px rgba(68,68,68,0.5);
  -webkit-box-shadow: 0px 1px 20px 1px rgba(68,68,68,0.5);
  transition: all 0.4s;

}
.iframe-preview:hover {
  box-shadow: 0px 1px 20px 1px rgba(68,68,68,0.75);
  -webkit-box-shadow: 0px 1px 20px 1px rgba(68,68,68,0.75);
  transform: translateY(-15px) scale(0.8);;
  -webkit-transform: translateY(-15px) scale(0.8);;
}*/
.title {
    position: relative;
    width: 578px;
    text-align: center;
    margin-top: 100px;
}
.title .line {
    background: #444;
    width: 253px;
    height: 4px;
    border-radius: 10px;
    left: 0;
    top: 22px;
    position: absolute;
}
.title .line-r {
    left: auto;
    right: 0;
}
.demo-list li {
    margin-bottom: 47px;
}
.info {
    font-size: 22px;
    text-align: center;
    line-height: 1.5em;
    color: rgba(68, 68, 68, .6);
    margin-top: 40px;
    margin-bottom: 40px;
}
.sub-title {
    font-size: 36px;
    margin-top: 20px;
}
.divider {
    margin: 0 0 0px;
    border-bottom: 1px solid rgba(68, 68, 68, .15);
}
.work-divider {
    border-bottom: 1px solid rgba(68, 68, 68, .15);
    position: relative;
    margin-top: -176px;
}
.about-divider {
    border-bottom: 1px solid rgba(68, 68, 68, .15);
    position: relative;
}
.see-more {
    width: 273px;
    height: 68px;
}
.section {
    padding-bottom: 100px;
}
.white {
    background: #fff;
}
.footer {
    text-align: center;
    height: 300px;
    background-color: #FBFBFB;
    position: relative;
}
.touch-me {
    font-size: 22px;
    color: rgba(68, 68, 68, 0.5);
}
.social {
    margin-top: 20px;
    margin-bottom: 60px;
}
.social a {
    color: rgba(68, 68, 68, 0.5);
    margin-right: 40px;
}
.social a:hover {
    color: rgba(68, 68, 68, 1);
}
.notebook .line {
    top: 17px;
}
.essential-illustration {
    margin-top: 60px;
}
.abouttitle {
    font-size: 22px;
    font-family: "Lato-Bold";
    line-height: 2.0em;
}
.aboutword {
    font-size: 22px;
    color: rgba(68, 68, 68, 0.6);
    line-height: 2.0em;
}
.aboutrow {
    margin-top: 90px;
    margin-bottom: 100px;
}
.exprow {
    margin-top: 90px;
    margin-bottom: 80px;
}
.expline1 {
    font-size: 22px;
    color: rgba(68, 68, 68, 1.0);
    line-height: 2.0em;
}

.expline2 {
    font-size: 22px;
    color: rgba(68, 68, 68, 0.8);
    line-height: 2.0em;
}
.expline2 a {
    font-size: 22px;
    color: rgba(68, 68, 68, 0.8);
    line-height: 2.0em;
    transition: all 0.3s;

}
.expline2 a:hover {
    font-size: 22px;
    color: rgba(52, 152, 219, 0.8);
    line-height: 2.0em;
}


.expline3 {
    font-size: 22px;
    color: rgba(68, 68, 68, 0.6);
    line-height: 2.0em;
}
.expstyle {
    margin-bottom: 20px;
}

.shadowpower{
  box-shadow:0px 1px 2px 1px rgba(68,68,68,0.05);
  -webkit-box-shadow:0px 1px 2px 1px rgba(68,68,68,0.05);
  transition:all 0.4s;
}

.shadowpower:hover{
    box-shadow: 0px 22px 43px rgba(68,68,68,0.2);
    -webkit-box-shadow:0 22px 43px rgba(68, 68, 68, 0.2);
    -webkit-transform:translateY(-15px);
    transform:translateY(-15px);
}

.button-new {
	float: left;
  height:68px;
	max-width: 273px;
  min-width: 273px;
	display: block;
	margin: 1em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;

}

.button--border-thick {
	border: 4px solid #444444;
}

.button--round-l {
	border-radius: 100px;
}

.button--size-s {
	font-size: 24px;
}

.button--inverted{
  background: #fff;
  color: #fff;
  background-color: #444;
}

.shadowpower2{
  opacity:0.9;
  box-shadow:0px 1px 2px 1px rgba(68,68,68,0.05);
  -webkit-box-shadow:0px 1px 2px 1px rgba(68,68,68,0.05);
  transition:all 0.4s;
}

.shadowpower2:hover{
    opacity: 1.0;
    box-shadow: 0px 22px 43px rgba(68,68,68,0.2);
    -webkit-box-shadow:0 22px 43px rgba(68, 68, 68, 0.2);
    transform:translateY(-10px);
    -webkit-transform:translateY(-10px);
}


.icon-Dribbble:before {
    position: relative;
    top: 1px;
    right:6px;
}
.icon-GitHub:before {
    position: relative;
    top: 1px;
    right:6px;
}

.dribbble-inner-title {
  position:relative;
  left:4px;
}
.github-inner-title {
  position:relative;
  left:4px;
}
.blog-inner-title {
  position:relative;
  left:0px;
}




/* Effect 4: bottom border enlarge */
.cl-effect-4 a {
  display: inline-block;
  position: relative;
  transition: all 0.4s;
}

.cl-effect-4 a:hover {
  -webkit-transform: translateY(-4px);
	-moz-transform: translateY(-4px);
	transform: translateY(-4px);
}

.cl-effect-4 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: rgba(52, 152, 219, 0.8);
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
	height: 3px;
	opacity: 1;
	-webkit-transform: translateY(-4px);
	-moz-transform: translateY(-4px);
	transform: translateY(-4px);
}


/* Animation Propertys
-------------------------------------------------------------------------------*/

.firstimpression{
  -webkit-animation: smooth-entry-reverse 0.5s;
  -moz-animation: smooth-entry-reverse 0.5s;
  animation: smooth-entry-reverse 0.5s;
}

.secondimpression{
    -moz-animation-delay: .15s;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;

    -webkit-animation-name: smooth-entry-reverse;
    -moz-animation-name: smooth-entry-reverse;

    -webkit-animation-duration: 0.5s
    -moz-animation-duration: 0.5s
    animation-name: smooth-entry-reverse;
    animation-duration: 0.5s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}


@-webkit-keyframes smooth-entry-reverse {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes smooth-entry-reverse {
  0% {
    opacity: 0;
    -moz-transform: translateY(2em);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes smooth-entry-reverse {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2em);
    -moz-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -o-transform: translateY(2em);
    transform: translateY(2em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

a.hamburger-icon {
  width: 20px;
  height: 14px;
  position: relative;
  display: none;
  margin: 10px auto 50px auto;
  float: right;
  margin-right: 20px;
}
a.hamburger-icon .line-1, a.hamburger-icon .line-2, a.hamburger-icon .line-3 {
  display: block;
  background: #444;
  width: 20px;
  height: 3px;
  position: absolute;
  left: 0;
  border-radius: 3px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
a.hamburger-icon .line-1 {
  top: 0;
}
a.hamburger-icon .line-2 {
  top: 50%;
}
a.hamburger-icon .line-3 {
  top: 100%;
}
a.hamburger-icon.active .line-1 {
  transform: translateY(7px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
  -moz-transform: translateY(7px) translateX(0) rotate(45deg);
}
a.hamburger-icon.active .line-2 {
  opacity: 0;
}
a.hamburger-icon.active .line-3 {
  transform: translateY(-7px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-7px) translateX(0) rotate(-45deg);
}
.nav-container-inner{
  display: none;
}

.main-nav {
  display: none;
}

.socialiconfont {
  display: none;
}

.smileface {
  width: 188px;
  height: 188px;
}


@media screen and (min-width: 960px) {

  .essential-illustration {
    width: 940px;
    height: 854px;
  }

  .handcontainer {
    width: 406px;
    height: 614px;
    margin-left: -260px
  }

  .info-section{
    height: 817px;
  }

  .aboutmd {
      margin-left: 40px;
  }

  .portrait {
    width: 500px;
    height: 658px;
  }

}

@media screen and (min-width: 680px) and (max-width: 960px) {

  .martin-md-4 {
    width: 50%;
  }

  .martin-md-10 {
    width: 100%;
  }

  .aboutrow {
    width: 100%;
  }

  .aboutmd {
      margin-left: 0px;
  }

  .exprow {
    width: 100%;
  }


  .illistrationcontainer{
    padding-left: 20px;
    padding-right: 20px;
  }

  .essential-illustration {
    width: 100%;
    height: 100%;
  }

  body , .container {
    width: 100%;
  }


  header{
    padding-top: 73px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .info-section{
    height: 817px;
  }

  .handcontainer {
    width: 406px;
    height: 614px;
    margin-left: -260px
  }

  .portrait {
    width: 500px;
    height: 658px;
  }

}
@media screen and (max-width:680px) {


  body , .container, .white {
    width: 100%
  }

  .contactoverflowfix{
    overflow: hidden;
  }

  .title {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }

  .title .line {
    width: 38%;
  }
  .handcontainer {
    width: 50%;
    margin-left: -120px;
    padding-left: 20px;
    margin-top: -50px;
  }

  .info-section{
    height: 500px;
  }

  .footer {
    height: 175px;
  }

  .touch-me {
    margin-top: 0px;
    font-size: 16px;
  }

  .aboutword{
    font-size: 14px;
  }

  .smileface {
    width: 94px;
    height: 94px;
  }

  .godown {
    position: relative;
    bottom: -15%;
    left: 0%;
    margin-left: 39.5px;
    display: none;

  }

  .copyright {
    margin-top: 30px;
    font-size: 14px;
  }

  .socialfont{
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(68, 68, 68, 0.5);
    transition: all 0.4s;
  }

  .socialfont:hover {
    color: rgba(68, 68, 68, 1);
  }

  .socialiconfont {
    display: block;
    font-size: 24px;
    margin-bottom: -9px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .social {
    display: none;
  }

  .martin-md-4 {
    width: 100%;
  }

  .btnmobile{
    margin-bottom: -70px;
  }

  .section {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 135px;
  }

  .essential-illustration {
    margin-top: 50px;
    width: 100%;
    height: 100%;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  header{
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 40px;
  }

  a.hamburger-icon {
  display: block;
  cursor: pointer;
  margin-right: 20px;
  }

  .nav-list {
    display: none;
  }

  .logo {
    height: 32px;
    width: 41px;
    margin-left: 20px;
  }

  .nav-container-inner{
  width: 101%;
  height: auto;
  margin-top: 74px;
  background: rgba(50, 55, 59, 1);
  display: none;
  }

  .divider3 {
    width: auto;
    border-bottom: 1px solid rgba(68, 68, 68, .15);
    box-shadow: 0px -15px 15px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px -15px 15px 1px rgba(0,0,0,0.3);
  }

  .divider2 {
    width: auto;
    border-bottom: 1px solid rgba(68, 68, 68, .15);
  }

  .divider2.active {
    box-shadow: 0px 15px 15px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 15px 15px 1px rgba(0,0,0,0.3);
  }

  .main-nav {
    margin-top: 0px;
    margin-bottom: -5px;
    display: block;
    padding-left: 0px;
  }

  li.main-nav-list-item {
    padding-top: 18px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.06);
  }

  .main-nav-list-item {
    display: block;
    float: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.4s;
  }

  .main-nav-list-link {
    margin-top: 1px;
    display: block;
    float: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.4s;
  }

  .main-nav-list-item:hover, .main-nav-list-link:hover {
    color: rgba(255, 255, 255, 1);
  }

  .info-section p {
    font-size: 18px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }
  .sub-title {
    font-size: 24px;
    margin-top: 33px;
    margin-bottom: -10px;
  }
  .info {
    font-size: 16px;
  }

  .martin-md-10 {
    width: 100%;
  }

  .aboutrow {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .aboutmd {
      margin-left: 0px;
  }

  .exprow {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .expmobilefix {
    margin-bottom: -10px;
  }

  .portrait {
    max-width: 540px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
  }

  .expline1, .expline2, .expline3, .expline2 a, .cl-effect-4 a:hover::after,
  .cl-effect-4 a:focus::after, .cl-effect-4 a:hover, .cl-effect-4 a::after{
    font-size: 14px;
  }

}
